<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <UseLightSwitchWebDeploymentProvider>False</UseLightSwitchWebDeploymentProvider>
    <AuthenticationType>None</AuthenticationType>
    <MSDeployServiceURL>localhost</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site/</DeployIisAppPath>
    <AllowUntrustedCertificate>False</AllowUntrustedCertificate>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <DeployAsIisApp>True</DeployAsIisApp>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <SavePWD>True</SavePWD>
    <LightSwitchPublishVersion>v1.8</LightSwitchPublishVersion>
    <CleanWPPAllFilesInSingleFolder>False</CleanWPPAllFilesInSingleFolder>
    <ExcludeGeneratedDebugSymbol>true</ExcludeGeneratedDebugSymbol>
    <AutoParameterizationWebConfigConnectionStrings>False</AutoParameterizationWebConfigConnectionStrings>
    <WPPAllFilesInSingleFolder>../Bin/Debug/app.publish/</WPPAllFilesInSingleFolder>
  </PropertyGroup>
  <Target Name="BeforeBuild">
    <MSBuild Projects="../GorilaGestion.ls3proj" Targets="BeforeLightSwitchPublishApplication" />
  </Target>
</Project>